/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ==================================================================
  Custom styles
  ==================================================================
*/

body {
    background: #eee;
    color: #111;
    font: 400 16px/22px 'Poppins', sans-serif;
		padding: 0;
		margin: 0;
}

/*
  ==================================================================
  Header
  ==================================================================
*/
.header {
	width: 100%;
	position: fixed;
	background-color: crimson;
}

.nav ul {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.nav ul li {
	padding: 0.8rem 1.5rem;
}

.nav a {
	color: #eee;
	font-size: 1.5rem;
	font-weight: 500px;
	text-decoration: none;
	transition: all .2s ease;
}

.nav a:hover {
	color: #111;
}

/*
  ==================================================================
  Profile photo
  ==================================================================
*/
.profile-pic img {

	width: 200px;
	border-radius: 50%;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/*
  ==================================================================
  About
  ==================================================================
*/
.about {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #111;
	color: #eee;
	text-align: center;
	font-size: 2rem;
	line-height: 1.6;
	font-style: italic;
	font-weight: 200;
}

.intro {
	padding: 60px 48px 0;
}

.intro h2 {
	margin-bottom: 24px;
}

/*
  ==================================================================
  Projects
  ==================================================================
*/

.projects {
	padding: 60px 48px;
}

/*
  ==================================================================
  Contact
  ==================================================================
*/
.contact {
	border-top: 4px solid crimson;
	padding: 60px 48px;
	line-height: 1.6;
	text-align: center;
}

.contact p {
	margin-bottom: 48px;
}

.social ul {
	list-style: none;
	display: flex;
	justify-content: center;
}

.social ul li {
	padding: 0.8rem 1.5rem;
}

.social a {
	font-size: 1.5rem;
	text-decoration: none;
	color: #111;
}

.social a:hover {
	color: crimson;
}

/*
  ==================================================================
  Footer
  ==================================================================
*/

.footer {
	background-color: #111;
	color: #fff;
	text-align: center;
	padding: 60px 48px;
	font-weight: 200;
	line-height: 1.6;
}

.footer .icons {
	color: crimson;
}
