/* Colors
    Coquelicot Red: #ff3800
    
    Sappling Tan: #dcd7a0
    
    Walnut Brown: #5d432c
    
    Bright Orange: #FFA500
*/

html {
    box-sizing: border-box;
    font-size: 1.2rem;
}

*, *::before, *::after {
    box-sizing: inherit;
}

#display-pic {
    width: 168px;
}

a {
    text-decoration: none;
}

nav {
    margin-bottom: 20px;
}

nav a {
    margin-right: 20px;
}