/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**** Custom CSS ***/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.controls-sort {
    padding: 10px 60px;
    background-color: teal;
    color: white;
}

.controls-sort span {
    margin: 0 20px;
    padding: 5px;
}

.project {
    display: inline-block;
    width: 400px;
    border: 1px solid rgb(5, 180, 180);
    margin: 20px;
    box-shadow: 4px 4px rgb(5, 180, 180);
    background-color: whitesmoke;
    color: black;
    line-height: 1.25;
}

.project:hover, .project:active {
    background-color: rgb(237, 245, 245);
    border: 1px solid teal;
    box-shadow: 4px 4px teal;
    cursor: context-menu;
}

.inline-project {
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
}

/************** Context Menu *****************/
.menu {
    width: 80px;
    border: 1px solid black;
    position: absolute;
    display: none;
    background-color: white;
}

.menu-options {
    list-style: none;
    padding: 0px;
}

.menu-option {
    font-weight: 500;
    font-size: 14px;
    padding: 10px 20px;
    cursor: pointer;
}

.menu-option:hover {
    background: rgba(0, 0, 0, 0.2);
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 245, 245, 0.75);
}

/* Modal Content/Box */
.modal-content {
    background-color: teal;
    color: white;
    margin: 10% auto;
    padding: 20px;
    width: 25%;
}

/*** Add Project Fields ***/
.add-project-row {
    padding: 10px;
}

.add-project-row input {
    float: right;
}

.add-project-row button {
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    float: left;
}

.add-project-row p {
    margin-top: 10px;
    text-align: center;
}

#modalAlert {
    z-index: 2;
}

#pname,
#createdby,
#pdesc {
    border: 1px solid black;
}

/* Sticky Top */
.controls-sort {
    position: fixed;
    top: 0;
    width: 100%;
}

.project-list {
    margin-top: 40px;
}


